<section class="profile">
  <chat-account [user]="user"></chat-account>
  <chat-profile-info [profile]="profile" [profileLogin]="profileLogin" [user]="user" *ngIf="profileLogin && !!profile"></chat-profile-info>
  <div class="profile__loading" *ngIf="profileLogin && !profile">
    <chat-loading></chat-loading>
  </div>
</section>
