\:host
  max-width: 280px
  min-width: 200px
  width: 15%
  max-height: 100vh
  flex: none
  align-self: flex-end

//@media screen and (max-width: 1600px)
//  \:host
//    width: 250px
//
//@media screen and (max-width: 1280px)
//  \:host
//    width: 200px
