
\:host
  //width: 390px
  width: 25%
  min-width: 250px
  max-width: 390px
  height: 100vh
  max-height: 100vh
  flex: 0 1 auto
  transition: flex 0.5s ease-in

//@media screen and (max-width: 1900px)
//  \:host
//    width: auto
