<section class="contacts" #contacts>
  <header class="contacts__search">
    <form class="contacts__search-form">
      <input type="text" class="contacts__search-input" placeholder="Search" [formControl]="querySearch">
      <span class="contacts__search-button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </form>
  </header>
  <ul class="contacts__list" *ngIf="isLoaded">
    <li *ngFor="let chat of getSearchChats()">
      <a class="contacts__item-link" routerLink="chat/{{chat.chatId}}" routerLinkActive="contacts__item_selected"
         [ngClass]="chat?.online ? 'contacts__item_online': ''">
        <div class="contacts__photo-wrapper">
          <img width="50" height="50" src="../../../assets/img/default-profile-photo.svg" class="contacts__item-photo"
               alt="photo">
        </div>
        <div class="contacts__item-info">
          <div>
            <span class="contacts__item-name">{{getChatName(chat)}}</span>
            <span class="contacts__item-unread-count" *ngIf="chat?.unread">
              {{chat.unread}}
            </span>
          </div>
          <div *ngIf="!!chat.message?.message">
            <span class="contacts__item-message"
                  [ngClass]="chat.message?.read ? '' : 'contacts__item-message_unread'">
              {{chat.message?.message | textSlice:letters}}
            </span>
            <span class="contacts__item-time">{{chat.message?.date | messageDate}}</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <ul class="contacts__list" *ngIf="!isLoaded">
    <li>
      <div class="contacts__item-link">
        <div class="contacts__photo-wrapper">
          <div class="contacts__item-photo skeleton"></div>
        </div>
        <div class="contacts__item-info">
          <div>
            <span class="contacts__item-name skeleton skeleton-inline skeleton-inline-half"></span>
          </div>
          <div>
            <span class="contacts__item-message skeleton skeleton-inline"></span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="contacts__item-link">
        <div class="contacts__photo-wrapper">
          <div class="contacts__item-photo skeleton"></div>
        </div>
        <div class="contacts__item-info">
          <div>
            <span class="contacts__item-name skeleton skeleton-inline skeleton-inline-half"></span>
          </div>
          <div>
            <span class="contacts__item-message skeleton skeleton-inline"></span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="contacts__item-link">
        <div class="contacts__photo-wrapper">
          <div class="contacts__item-photo skeleton"></div>
        </div>
        <div class="contacts__item-info">
          <div>
            <span class="contacts__item-name skeleton skeleton-inline skeleton-inline-half"></span>
          </div>
          <div>
            <span class="contacts__item-message skeleton skeleton-inline"></span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="contacts__item-link">
        <div class="contacts__photo-wrapper">
          <div class="contacts__item-photo skeleton"></div>
        </div>
        <div class="contacts__item-info">
          <div>
            <span class="contacts__item-name skeleton skeleton-inline skeleton-inline-half"></span>
          </div>
          <div>
            <span class="contacts__item-message skeleton skeleton-inline"></span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>

