<div class="user__main-wrapper">
  <chat-inbox [(selectedOption)]="inboxOption" [user]="user" (toggleButtonCLick)="toggleInbox()" *ngIf="isInbox"></chat-inbox>
  <chat-friends [user]="user" (toggleButtonCLick)="toggleInbox()" *ngIf="!isInbox"></chat-friends>
  <chat-contacts [user]="user" [inboxOption]="inboxOption"></chat-contacts>
  <!--<chat-chat-area></chat-chat-area>-->
  <router-outlet></router-outlet>
</div>
<chat-profile [user]="user"></chat-profile>
