<section class="chat">
  <header class="chat__bar">
    <span class="chat__bar-name" [ngClass]="isTyping ? 'chat__bar-name_typing' : ''">{{getName()}}</span>
    <button class="chat__bar-button" [ngClass]="chat?.isImportant ? 'chat__bar-button_selected' : ''"
            (click)="toggleImportant()">
      <i class="fa fa-star" aria-hidden="true"></i>
    </button>
  </header>
  <section class="chat-area" #chatArea>
    <ul class="chat-area__list">
      <li class="chat-area__item chat-area__loading" *ngIf="isLoadMore()">
        <chat-loading></chat-loading>
      </li>
      <li class="chat-area__item" [ngClass]="user?.login === message?.owner ? 'chat-area__send' : ''"
          *ngFor="let message of chat?.messages">
        <div class="chat-area__photo-wrapper">
          <img src="../../../assets/img/default-profile-photo.svg" width="35" height="35" alt="photo"
               class="chat-area__photo">
          <span class="chat-area__time">{{message.date | messageDate}}</span>
        </div>
        <p class="chat-area__message" [ngClass]="message?.read ? '' : 'chat__area-unread-message'">{{message.message}}</p>
      </li>
      <li class="chat-area__item chat-area__loading" *ngIf="!isLoaded">
        <chat-loading></chat-loading>
      </li>
    </ul>
  </section>
  <form class="chat__message-form" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <textarea class="chat__message-text" placeholder="Type your message..." formControlName="message"></textarea>
    <button class="chat__message-send" type="submit" [disabled]="messageForm.invalid">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </form>
</section>
