$main-font: 'Roboto', sans-serif
$dashboard-dark-bg: #1d232a
$dark-bg: #242a31
$chat-bg: #eaecf1
$white-color: #fff
$black-color: #000
$gray-color: #a0a4a7
$selected-item-bg: #404a53
$input-bg: #363d45
$input-color: #868b8e
$border-color: #d3d8dc
$online-indicator-color: #2dc100
$highlight-color: #2b80ff
$chat-header-color: #293037
$chat-bar-star-color: #81868c
$send-button-bg: #616d7a
$profile-border-color: #e5e5e5
$profile-account-color: #293037

html
  font-size: 10px

button
  cursor: pointer
  outline: none
  border: none

a
  text-decoration: none

.main
  display: flex
  flex-direction: row
  width: 100%
  //height: 100%
  height: 100vh

%edge-shadow
  box-shadow: inset -11px 0 11px rgba(0,0,0,0.2)

.dashboard
  height: 100%
  width: 80px
  background-color: $dashboard-dark-bg
  flex: none
  @extend %edge-shadow

.dashboard__drop-down-menu
  width: 80px
  height: 80px
  background-color: $white-color
  -webkit-mask: url("../img/menu.svg") 50% 50% no-repeat
  mask: url("../img/menu.svg") 50% 50% no-repeat

.dashboard__drop-down-menu:hover
  background-color: $gray-color

.inbox
  width: 230px
  height: 100%
  background-color: $dark-bg
  display: flex
  flex-direction: column
  align-items: center
  flex: none
  @extend %edge-shadow



.inbox__header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: 20px
  width: 190px
  box-sizing: border-box
  padding-left: 10px
  font: 500 normal 2.2rem / 1em $main-font
  color: $white-color

.inbox__add-button
  width: 40px
  height: 40px
  //background-color: $white-color
  //-webkit-mask: url("../img/add.svg") 50% 50% / 18px no-repeat
  background: url("../img/add.svg") 50% 50% / 18px no-repeat
  border: 1px solid $white-color
  border-radius: 50%

.inbox_list
  margin-top: 55px

.inbox__item
  width: 190px
  height: 36px

.inbox__link
  width: 100%
  height: 100%
  box-sizing: border-box
  padding: 0 10px
  font: normal normal 1.4rem / 1em $main-font
  color: $gray-color
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-radius: 4px

  &:hover, span:last-child
    color: $white-color

.inbox__link_selected
  background-color: $selected-item-bg
  color: $white-color
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06)


.contacts
  width: 390px
  //height: 100%
  height: 100vh
  background: $dark-bg
  flex: none
  overflow: hidden
  @extend %edge-shadow

.contacts__search
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  box-sizing: border-box
  height: 80px
  border-bottom: 1px solid $input-bg

.contacts__search-form
  position: relative

.contacts__search-input
  width: 310px
  height: 40px
  background: $input-bg
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06)
  box-sizing: border-box
  font: 500 normal 1.4rem / 1em $main-font
  color: $input-color
  padding-left: 50px
  padding-right: 20px
  border: none
  outline: none
  border-radius: 20px

.contacts__search-button
  position: absolute
  color: $white-color
  font-size: 17px
  background-color: inherit
  left: 20px
  top: 9px

.contacts__list
  height: 100%
  overflow-y: auto

.contacts__item
  position: relative
  height: 100px
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 20px 0 25px
  cursor: pointer
  box-sizing: border-box

  &:hover
    background: $highlight-color

    .contacts__photo-wrapper
      border-bottom-color: $highlight-color

    .contacts__item-time
      opacity: 70%

.contacts__item_online::before
  content: ''
  display: inline-block
  position: absolute
  width: 6px
  height: 6px
  border-radius: 50%
  background-color: $online-indicator-color
  left: 15px
  top: 20px

.contacts__item_selected
  border-left: 2px solid $highlight-color

  .contacts__item-time
    opacity: 70%

.contacts__photo-wrapper
  height: 100%
  box-sizing: border-box
  border-bottom: 1px solid $input-bg
  display: flex
  align-items: center

.contacts__item-photo
  width: 50px
  height: 50px
  border-radius: 50%

.contacts__item-info
  margin-left: 18px
  width: 100%
  color: $white-color

  div
    margin: 8px auto
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

%contacts-text-size
  display: inline-block
  width: 185px


.contacts__item-name
  font: 500 normal 1.6rem / 1em $main-font
  @extend %contacts-text-size

.contacts__item-more-button
  font-size: 1.4rem
  color: inherit
  display: inline
  background-color: inherit


.contacts__item-message
  font: 300 normal 1.4rem / 1em $main-font
  opacity: 50%
  @extend %contacts-text-size

.contacts__item-time
  font: 500 normal 1.1rem / 1em $main-font
  opacity: 50%


.chat
  width: 650px
  background: $chat-bg
  display: flex
  flex-direction: column
  align-items: stretch
  flex: 1 1 auto

.chat__bar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  font: bold normal 1.4rem / 1em $main-font
  color: $chat-header-color
  height: 80px
  border-bottom: 1px solid $border-color
  box-sizing: border-box
  flex: none

.chat__bar-name
  margin-left: 30px

.chat__bar-name_typing::after
  content: ' is typing...'
  font: 300 normal 1.4rem / 1em $main-font

.chat__bar-button
  width: 80px
  height: 100%
  border: 1px solid $border-color
  border-bottom: none
  box-sizing: border-box
  background: inherit
  font-size: 20px
  color: $chat-bar-star-color

  &:hover
    color: $highlight-color

.chat-area
  box-shadow: inset 0 75px 75px rgb(236,238,242)
  flex: 1 1 auto
  box-sizing: border-box
  padding: 20px
  display: flex
  flex-direction: column

.chat-area__list
  display: flex
  flex-direction: column

.chat-area__item
  display: flex
  flex-direction: row
  align-items: flex-start
  margin-top: 20px

.chat-area__photo-wrapper
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 8px

.chat-area__photo
  width: 35px
  height: 35px
  border-radius: 50%

.chat-area__time
  font: 500 normal 11px / 1em $main-font
  margin-top: 10px
  color: $input-color

.chat-area__message
  position: relative
  box-sizing: border-box
  padding: 15px 20px
  //max-width: 470px
  max-width: calc(100% - 130px)

  font: 300 normal 1.6rem / 1.3em $main-font
  background: $white-color
  color: $black-color
  margin-left: 30px
  flex: none
  border-radius: 3px

  &::before
    position: absolute
    content: ''
    display: inline-block
    height: 0
    width: 0
    border-top: 5px solid transparent
    border-bottom: 5px solid transparent
    border-right: 7px solid $white-color
    left: -7px
    top: 20px

.chat-area__send
  align-self: flex-end
  flex-direction: row-reverse

  .chat-area__message
    margin: 0 30px 0 0
    background: $highlight-color
    color: $white-color

    &::before
      border-right: none
      border-left: 7px solid $highlight-color
      left: auto
      right: -7px

.chat__message-form
  height: 80px
  border-top: 1px solid $border-color
  background: $white-color
  flex: none
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 25px

.chat__message-text
  font: 300 normal 1.6rem / 1.3em $main-font
  color: $black-color
  border: none
  outline: none
  resize: none
  width: 460px
  //height: 100%

.chat__message-send
  width: 40px
  height: 40px
  border-radius: 50%
  background: $send-button-bg
  color: $white-color
  font-size: 20px


.profile
  width: 280px

.profile__account
  height: 80px
  box-sizing: border-box
  border-bottom: 1px solid $profile-border-color
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 0 20px

.profile__account-notifications
  font-size: 20px
  color: $chat-bar-star-color
  background: inherit

  &:hover
    color: $highlight-color

  &::before
    content: ''
    display: inline-block
    width: 6px
    height: 6px
    border-radius: 50%
    background-color: inherit
    margin-bottom: 15px

.profile__account-notifications_exist::before
  background-color: $highlight-color

.profile__account-name
  font: 300 normal 1.4rem / 1em $main-font
  color: $profile-account-color
  background: inherit

  &:hover
    color: $highlight-color

  &::after
    content: ''
    display: inline-block
    width: 0
    height: 0
    margin-left: 10px
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 7px solid $highlight-color

.profile__user-info
  padding: 15px 0 35px
  display: flex
  flex-direction: column
  align-items: center
  color: $profile-account-color
  position: relative
  border-bottom: 1px solid $profile-border-color

.profile__photo
  margin-top: 18px
  height: 120px
  width: 120px
  border-radius: 50%

.profile__user-name
  font: 500 normal 2rem / 1em $main-font
  margin-top: 25px

.profile__user-location
  font: 300 normal 1.4rem / 1em $main-font
  margin-top: 5px

.profile__photo-actions
  position: absolute
  right: 20px
  background: inherit
  font-size: 18px
  color: $send-button-bg

  &:hover
    color: $highlight-color

.profile__user-details-list
  margin-top: 20px
  display: flex
  flex-direction: column
  align-items: center

.profile__user-details-item
  height: 50px
  width: 220px
  box-sizing: border-box
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid $profile-border-color
  font: 500 normal 1.3rem / 1em $main-font
  color: $profile-account-color

  &:last-child
    border-bottom: none

.profile__user-details-title
  font-weight: 500

.profile__user-details-value
  font-weight: 300