html {
  font-size: 10px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.contacts, .inbox, .dashboard {
  box-shadow: inset -11px 0 11px rgba(0, 0, 0, 0.2);
}

.dashboard {
  height: 100%;
  width: 80px;
  background-color: #1d232a;
  flex: none;
}

.dashboard__drop-down-menu {
  width: 80px;
  height: 80px;
  background-color: #fff;
  -webkit-mask: url("../img/menu.svg") 50% 50% no-repeat;
  mask: url("../img/menu.svg") 50% 50% no-repeat;
}

.dashboard__drop-down-menu:hover {
  background-color: #a0a4a7;
}

.inbox {
  width: 230px;
  height: 100%;
  background-color: #242a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
}

.inbox__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 190px;
  box-sizing: border-box;
  padding-left: 10px;
  font: 500 normal 2.2rem/1em "Roboto", sans-serif;
  color: #fff;
}

.inbox__add-button {
  width: 40px;
  height: 40px;
  background: url("../img/add.svg") 50% 50%/18px no-repeat;
  border: 1px solid #fff;
  border-radius: 50%;
}

.inbox_list {
  margin-top: 55px;
}

.inbox__item {
  width: 190px;
  height: 36px;
}

.inbox__link {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  font: normal normal 1.4rem/1em "Roboto", sans-serif;
  color: #a0a4a7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.inbox__link:hover, .inbox__link span:last-child {
  color: #fff;
}

.inbox__link_selected {
  background-color: #404a53;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
}

.contacts {
  width: 390px;
  height: 100vh;
  background: #242a31;
  flex: none;
  overflow: hidden;
}

.contacts__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 80px;
  border-bottom: 1px solid #363d45;
}

.contacts__search-form {
  position: relative;
}

.contacts__search-input {
  width: 310px;
  height: 40px;
  background: #363d45;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font: 500 normal 1.4rem/1em "Roboto", sans-serif;
  color: #868b8e;
  padding-left: 50px;
  padding-right: 20px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.contacts__search-button {
  position: absolute;
  color: #fff;
  font-size: 17px;
  background-color: inherit;
  left: 20px;
  top: 9px;
}

.contacts__list {
  height: 100%;
  overflow-y: auto;
}

.contacts__item {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px 0 25px;
  cursor: pointer;
  box-sizing: border-box;
}
.contacts__item:hover {
  background: #2b80ff;
}
.contacts__item:hover .contacts__photo-wrapper {
  border-bottom-color: #2b80ff;
}
.contacts__item:hover .contacts__item-time {
  opacity: 70%;
}

.contacts__item_online::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2dc100;
  left: 15px;
  top: 20px;
}

.contacts__item_selected {
  border-left: 2px solid #2b80ff;
}
.contacts__item_selected .contacts__item-time {
  opacity: 70%;
}

.contacts__photo-wrapper {
  height: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #363d45;
  display: flex;
  align-items: center;
}

.contacts__item-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contacts__item-info {
  margin-left: 18px;
  width: 100%;
  color: #fff;
}
.contacts__item-info div {
  margin: 8px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contacts__item-message, .contacts__item-name {
  display: inline-block;
  width: 185px;
}

.contacts__item-name {
  font: 500 normal 1.6rem/1em "Roboto", sans-serif;
}

.contacts__item-more-button {
  font-size: 1.4rem;
  color: inherit;
  display: inline;
  background-color: inherit;
}

.contacts__item-message {
  font: 300 normal 1.4rem/1em "Roboto", sans-serif;
  opacity: 50%;
}

.contacts__item-time {
  font: 500 normal 1.1rem/1em "Roboto", sans-serif;
  opacity: 50%;
}

.chat {
  width: 650px;
  background: #eaecf1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
}

.chat__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: bold normal 1.4rem/1em "Roboto", sans-serif;
  color: #293037;
  height: 80px;
  border-bottom: 1px solid #d3d8dc;
  box-sizing: border-box;
  flex: none;
}

.chat__bar-name {
  margin-left: 30px;
}

.chat__bar-name_typing::after {
  content: " is typing...";
  font: 300 normal 1.4rem/1em "Roboto", sans-serif;
}

.chat__bar-button {
  width: 80px;
  height: 100%;
  border: 1px solid #d3d8dc;
  border-bottom: none;
  box-sizing: border-box;
  background: inherit;
  font-size: 20px;
  color: #81868c;
}
.chat__bar-button:hover {
  color: #2b80ff;
}

.chat-area {
  box-shadow: inset 0 75px 75px #eceef2;
  flex: 1 1 auto;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-area__list {
  display: flex;
  flex-direction: column;
}

.chat-area__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.chat-area__photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.chat-area__photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.chat-area__time {
  font: 500 normal 11px/1em "Roboto", sans-serif;
  margin-top: 10px;
  color: #868b8e;
}

.chat-area__message {
  position: relative;
  box-sizing: border-box;
  padding: 15px 20px;
  max-width: calc(100% - 130px);
  font: 300 normal 1.6rem/1.3em "Roboto", sans-serif;
  background: #fff;
  color: #000;
  margin-left: 30px;
  flex: none;
  border-radius: 3px;
}
.chat-area__message::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 7px solid #fff;
  left: -7px;
  top: 20px;
}

.chat-area__send {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.chat-area__send .chat-area__message {
  margin: 0 30px 0 0;
  background: #2b80ff;
  color: #fff;
}
.chat-area__send .chat-area__message::before {
  border-right: none;
  border-left: 7px solid #2b80ff;
  left: auto;
  right: -7px;
}

.chat__message-form {
  height: 80px;
  border-top: 1px solid #d3d8dc;
  background: #fff;
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.chat__message-text {
  font: 300 normal 1.6rem/1.3em "Roboto", sans-serif;
  color: #000;
  border: none;
  outline: none;
  resize: none;
  width: 460px;
}

.chat__message-send {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #616d7a;
  color: #fff;
  font-size: 20px;
}

.profile {
  width: 280px;
}

.profile__account {
  height: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.profile__account-notifications {
  font-size: 20px;
  color: #81868c;
  background: inherit;
}
.profile__account-notifications:hover {
  color: #2b80ff;
}
.profile__account-notifications::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: inherit;
  margin-bottom: 15px;
}

.profile__account-notifications_exist::before {
  background-color: #2b80ff;
}

.profile__account-name {
  font: 300 normal 1.4rem/1em "Roboto", sans-serif;
  color: #293037;
  background: inherit;
}
.profile__account-name:hover {
  color: #2b80ff;
}
.profile__account-name::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #2b80ff;
}

.profile__user-info {
  padding: 15px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293037;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.profile__photo {
  margin-top: 18px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile__user-name {
  font: 500 normal 2rem/1em "Roboto", sans-serif;
  margin-top: 25px;
}

.profile__user-location {
  font: 300 normal 1.4rem/1em "Roboto", sans-serif;
  margin-top: 5px;
}

.profile__photo-actions {
  position: absolute;
  right: 20px;
  background: inherit;
  font-size: 18px;
  color: #616d7a;
}
.profile__photo-actions:hover {
  color: #2b80ff;
}

.profile__user-details-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__user-details-item {
  height: 50px;
  width: 220px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  font: 500 normal 1.3rem/1em "Roboto", sans-serif;
  color: #293037;
}
.profile__user-details-item:last-child {
  border-bottom: none;
}

.profile__user-details-title {
  font-weight: 500;
}

.profile__user-details-value {
  font-weight: 300;
}

/*# sourceMappingURL=main.sass.map */
