<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2 class="login-form__header">Registration</h2>
  <div class="register-form__info">
    <fieldset class="register-form__user-details" formGroupName="account">
      <div class="register-form__input-box">
        <label for="login" class="register-form__input-label">Login</label>
        <input autocomplete="user-name" type="text" id="login" name="login" placeholder="Login" class="register-form__input" formControlName="login" >
      </div>
      <div class="register-form__input-box">
        <label for="password" class="register-form__input-label">Password</label>
        <input autocomplete="new-password" type="password" id="password" name="password" placeholder="Password" class="register-form__input" formControlName="password" >
      </div>
      <div class="register-form__input-box">
        <label for="confirm-password" class="register-form__input-label">Confirm Password</label>
        <input autocomplete="new-password" type="password" id="confirm-password" name="confirm" placeholder="Conform Password" class="register-form__input" formControlName="confirm" >
      </div>
    </fieldset>
    <fieldset class="register-form__user-details" formGroupName="userInfo">
      <div class="register-form__input-box">
        <label for="name" class="register-form__input-label">Name</label>
        <input type="text" id="name" name="login" placeholder="Name" class="register-form__input" formControlName="name" >
      </div>
      <div class="register-form__input-box">
        <label for="surname" class="register-form__input-label">Surname</label>
        <input type="text" id="surname" name="surname" placeholder="Surname" class="register-form__input" formControlName="surname" >
      </div>
      <div class="register-form__input-box">
        <label for="country" class="register-form__input-label">Country</label>
        <input type="text" id="country" name="country" placeholder="Country" class="register-form__input" formControlName="country" >
      </div>
      <div class="register-form__input-box">
        <label for="city" class="register-form__input-label">City</label>
        <input type="text" id="city" name="city" placeholder="City" class="register-form__input" formControlName="city" >
      </div>
      <div class="register-form__input-box">
        <label for="dob" class="register-form__input-label">Date Of Birth</label>
        <input type="date" id="dob" name="dob" class="register-form__input" formControlName="dob" min="1900-01-01" max="2020-01-01">
      </div>
      <div class="register-form__input-box">
        <label for="phone" class="register-form__input-label">Phone Number</label>
        <input type="tel" id="phone" name="phone" placeholder="Phone Number" class="register-form__input" formControlName="phone" >
      </div>
      <div class="register-form__gender">
        <span class="register-form__gender-title">Gender</span>
        <div class="register-form__gender-variants">
          <label>
            <input type="radio" name="gender" [value]="genderEnum.UNMARKED" formControlName="gender">
            <span>Not specified</span>
          </label>
          <label>
            <input type="radio" name="gender" [value]="genderEnum.MALE" formControlName="gender">
            <span>Male</span>
          </label>
          <label>
            <input type="radio" name="gender" [value]="genderEnum.FEMALE" formControlName="gender">
            <span>Female</span>
          </label>
        </div>
      </div>
      <div class="register-form__languages-block">
        <span class="register-form__gender-title">Languages</span>
        <div class="register-form__languages">
          <ul class="register-form__languages-list">
            <li class="register-form__languages-item" *ngFor="let lang of languages; let i = index" (click)="deleteLanguage(i)">
              <span>{{lang}}</span>
              <button type="button" class="register-form__languages-delete" >
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </li>
<!--            <li class="register-form__languages-item">-->
<!--              <span>Russian</span>-->
<!--              <button type="button" class="register-form__languages-delete">-->
<!--                <i class="fa fa-times" aria-hidden="true"></i>-->
<!--              </button>-->
<!--            </li>-->
          </ul>
          <input type="text" class="register-form__input register-form__languages-input" formControlName="language" #language>
          <button type="button" class="register-form__languages-add" (click)="addLanguage(language.value)">+</button>
        </div>
      </div>
    </fieldset>
  </div>
  <input type="submit" name="submit" value="Register" class="login-form__button register-form__button" [disabled]="!registerForm.valid">
  <div class="login-form__register">
    <span>Already have an account?</span>
    <a routerLink="/login">Log in</a>
  </div>
</form>
