@import "assets/sass/variables"
@import "assets/sass/reset"

html
  font-size: 10px

button
  cursor: pointer
  outline: none
  border: none

a
  text-decoration: none

%edge-shadow
  box-shadow: inset -11px 0 11px rgba(0,0,0,0.2)

%login-input
  padding: 14px 10px
  color: $white-color
  background: inherit
  border: 2px solid $highlight-color
  border-radius: 20px
  text-align: center
  transition: 0.5s

// scrollbar

::-webkit-scrollbar
  width: 5px
  height: 1em

::-webkit-scrollbar-track
  border-radius: 100vw
  background: $input-color

::-webkit-scrollbar-thumb
  background: $selected-item-bg
  border-radius: 100vw

  &:hover
    background: $dark-bg

@supports (scrollbar-color: red)
  *
    scrollbar-color: $selected-item-bg $input-color
    scrollbar-width: thin

//
.main
  display: flex
  flex-direction: row
  width: 100vw
  height: 100vh
  background: $dark-bg

.dashboard
  height: 100%
  max-height: 100vh
  overflow-y: auto
  overflow-x: hidden
  width: 80px
  background-color: $dashboard-dark-bg
  flex: none
  @extend %edge-shadow

.dashboard__drop-down-menu
  display: block
  width: 80px
  height: 80px
  background-color: $white-color
  -webkit-mask: url("assets/img/menu.svg") 50% 50% no-repeat
  mask: url("assets/img/menu.svg") 50% 50% no-repeat

.dashboard__drop-down-menu:hover
  background-color: $gray-color

.dashboard__list
  margin-top: 20px
  display: flex
  flex-direction: column
  align-items: flex-end
  width: 80px

.dashboard__link
  width: 70px
  height: 60px
  display: flex
  align-items: center
  justify-content: space-around
  border-bottom-left-radius: 4px
  border-top-left-radius: 4px

  &:hover
    background: $dark-bg

.dashboard__link_selected
  background: $dark-bg

.dashboard__img
  width: 35px
  height: 35px
  border-radius: 50%
  margin-right: 8px

.dashboard__item-add
  width: 80px
  height: 80px
  display: flex
  align-items: center
  justify-content: space-around

.dashboard__add-link
  display: inline-block
  width: 35px
  height: 35px
  border-radius: 50%
  background: $dark-bg
  font-size: 4rem
  line-height: 35px
  color: $white-color
  //vertical-align: middle
  text-align: center
  font-weight: bold

  &:hover
    background: $highlight-color

.login-form
  width: 300px
  max-height: 100vh
  overflow-y: auto
  overflow-x: hidden
  border-radius: 5px
  background: $dashboard-dark-bg
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding: 50px 0
  flex: none

.login-form__header
  margin-bottom: 30px
  font: 500 normal 2.2rem / 1em $main-font
  color: $white-color

.login-form__input
  outline: none
  //width: 200px
  width: 66%
  margin: 15px auto
  @extend %login-input

  &:focus
    width: 83%
    border-color: $online-indicator-color

.login-form__button
  width: 50%
  margin: 20px auto 0
  cursor: pointer
  @extend %login-input

  &:hover
    width: 66%
    border-color: $online-indicator-color

.login-form__button[disabled]
  border-color: red

.login-form__register
  margin-top: 15px
  font: normal normal 1.4rem / 1em $main-font
  color: $white-color

  a
    color: $highlight-color
    margin-left: 4px

    &:hover
      text-decoration: underline

.register-form
  max-width: 700px
  width: 100%
  max-height: 100vh
  overflow-y: auto
  border-radius: 5px
  background: $dashboard-dark-bg
  padding: 50px 30px
  font: 500 normal 1.6rem / 1em $main-font
  color: $white-color
  display: flex
  flex-direction: column
  align-items: center
  box-sizing: border-box

.register-form__user-details
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.register-form__input-box
  width: calc(50% - 20px)
  margin: 15px 0

.register-form__input-label
  margin-bottom: 5px

.register-form__input
  outline: none
  width: 100%
  border-radius: 5px
  padding: 14px 10px
  color: $white-color
  background: inherit
  border: 2px solid $highlight-color
  transition: 0.2s
  font-size: 1.6rem

  &:focus
    border-color: $online-indicator-color

.register-form__gender
  width: 80%

.register-form__gender-title
  font-size: 1.8rem

.register-form__gender-variants
  display: flex
  justify-content: space-between
  margin-top: 14px
  font-weight: 400

.register-form__languages-block
  width: 100%
  margin-top: 20px

.register-form__languages
  margin-top: 15px
  display: flex
  flex-direction: row
  align-items: center

.register-form__languages-list
  display: flex
  flex-direction: row
  flex-wrap: wrap

.register-form__languages-item
  border-radius: 5px
  padding: 8px 10px
  color: $white-color
  background-color: $input-bg
  margin: 3px 5px 0 0
  flex: none

  &:hover
    cursor: pointer

    .register-form__languages-delete
      color: $highlight-color

.register-form__languages-delete
  background: inherit
  margin-left: 2px
  color: $white-color
  font-size: 2rem

.register-form__languages-input
  width: 130px

.register-form__languages-add
  color: $white-color
  text-align: center
  width: 35px
  height: 35px
  border-radius: 50%
  outline: none
  border: none
  font-size: 2.5rem
  background-color: $input-bg
  margin-left: 5px

  &:hover
    color: $highlight-color

.register-form__button
  display: inline-block
  width: 80%
  margin: 20px auto 0

  &:hover
    width: 100%

@media (max-width: 600px)
  .register-form__input-box
    width: 100%

  .register-form__gender
    width: 100%

  .register-form__info
    max-height: 500px
    overflow-y: scroll

input.ng-invalid.ng-touched
  border-color: red

.user__main-wrapper
  display: flex
  flex-direction: row
  width: 100%

.inbox
  width: 100%
  height: 100vh
  background-color: $dark-bg
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  flex: none
  transition: all 0.5s ease-in
  @extend %edge-shadow

.inbox__header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  //margin-top: 20px
  //width: 190px
  width: 83%
  height: 80px
  box-sizing: border-box
  padding-left: 10px
  font: 500 normal 2.2rem / 1em $main-font
  color: $white-color

.inbox__add-button
  width: 40px
  height: 40px
  //background-color: $white-color
  //-webkit-mask: url("assets/img/add.svg") 50% 50% / 18px no-repeat
  background: url("assets/img/add.svg") 50% 50% / 18px no-repeat
  border: 1px solid $white-color
  border-radius: 50%

.inbox_list
  margin-top: 30px
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.inbox__item
  //width: 190px
  width: 83%
  height: 36px

.inbox__link
  width: 100%
  height: 100%
  box-sizing: border-box
  padding: 0 10px
  font: normal normal 1.4rem / 1em $main-font
  color: $gray-color
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-radius: 4px
  background: inherit

  &:hover, span:last-child
    color: $white-color

.inbox__link_selected
  background-color: $selected-item-bg
  color: $white-color
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06)

.inbox__friends-header
  justify-content: flex-end
  padding: 0
  flex: none

.inbox__friends-form
  overflow: hidden
  animation: header-append 0.5s ease-in-out 1
  width: 100%

@keyframes header-append
  0%
    width: 0
  100%
    width: 100%

@mixin search-input($w: 200px, $h: 50px)
  width: $w
  height: $h
  background: $input-bg
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06)
  box-sizing: border-box
  font: 500 normal 1.4rem / 1em $main-font
  color: $input-color
  padding-left: 30px
  padding-right: 20px
  border: none
  outline: none
  border-radius: 20px

.inbox__friends-input
  @include search-input(100%, 30px)

%friends-button
  position: absolute
  color: $white-color
  font-size: 12px
  background-color: inherit
  width: 20px
  height: 30px

  &:hover
    color: $highlight-color

.inbox__friends-search
  @extend %friends-button
  left: 5px

.inbox__friends-close
  @extend %friends-button
  right: 5px

.inbox__search-form
  position: relative
  width: 100%

.skeleton
  opacity: 0.7
  animation: skeleton-animation 1s linear infinite alternate

.skeleton-inline
  display: inline-block
  width: 100%
  height: 0.5em
  margin-bottom: 0.125em
  border-radius: 0.25em

  &.skeleton-inline-half
    width: 50%

  &:last-child
    margin-bottom: 0

@keyframes skeleton-animation
  0%
    background-color: hsl(200, 20%, 50%)

  100%
    background-color: hsl(200, 20%, 95%)


.search__results
  padding: 0 10px
  width: 100%
  overflow-y: auto
  //flex: 1 1 auto
  min-height: 20px
  height: 100%

.search__header
  font: 500 normal 1.6rem/1em $main-font
  color: $white-color

.search__list
  margin-top: 15px
  font: normal normal 1.4rem/1em $main-font
  color: $white-color
  display: flex
  flex-direction: column

.search__item
  padding: 10px 5px
  border-radius: 5px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  &:hover
    background: $selected-item-bg

    .search__item-add
      display: inline-block

.search__item-info
  display: flex
  flex-direction: row
  align-items: center

.search__item-name
  margin-left: 5px

.search__item-add
  background: inherit
  font-size: 2.5rem
  color: $white-color
  display: none

  &:hover
    color: $highlight-color


.friends__invites
  width: 100%
  flex: none

.friends__invites-button
  width: 100%
  padding: 10px 5px
  background: $selected-item-bg
  display: flex
  flex-direction: row
  justify-content: space-between
  font: 500 normal 1.6rem/1em $main-font
  color: $white-color

  strong
    color: $highlight-color
    padding: 5px


  &:hover
    color: $highlight-color

.friends__invites-list
  margin: 2px auto
  overflow-y: auto
  //max-height: 180px
  height: 0
  transition: 0.5s ease-in-out

.friends__invites-list_visible
  height: 180px

.friends__invites-action
  font-size: 1.6rem

.contacts
  width: 100%
  height: 100vh
  background: $dark-bg
  overflow: hidden
  flex: none
  @extend %edge-shadow

.contacts__search
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  box-sizing: border-box
  height: 80px
  border-bottom: 1px solid $input-bg

.contacts__search-form
  position: relative
  width: 80%

.contacts__search-input
  @include search-input(100%, 40px)
  padding-left: 50px


.contacts__search-button
  position: absolute
  color: $white-color
  font-size: 17px
  background-color: inherit
  left: 20px
  top: 9px

.contacts__list
  //height: 100%
  max-height: calc(100vh - 80px)
  overflow-y: auto

.contacts__item-link
  position: relative
  height: 100px
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 20px 0 25px
  //cursor: pointer
  box-sizing: border-box
  border-left: 2px solid $dark-bg

  &:hover
    background: $highlight-color

    .contacts__photo-wrapper
      border-bottom-color: $highlight-color

    .contacts__item-time
      opacity: 70%

.contacts__item_online::before
  content: ''
  display: inline-block
  position: absolute
  width: 6px
  height: 6px
  border-radius: 50%
  background-color: $online-indicator-color
  left: 15px
  top: 20px

.contacts__item_selected
  //border-left: 2px solid $highlight-color
  border-left-color: $highlight-color

  .contacts__item-time
    opacity: 70%

.contacts__photo-wrapper
  height: 100%
  box-sizing: border-box
  border-bottom: 1px solid $input-bg
  display: flex
  align-items: center

.contacts__item-photo
  width: 50px
  height: 50px
  border-radius: 50%

.contacts__item-info
  margin-left: 18px
  width: 100%
  color: $white-color

  div
    margin: 8px auto
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.contacts__item-name
  font: 500 normal 1.6rem / 1em $main-font
  display: inline-block

.contacts__item-unread-count
  border-radius: 50%
  background: $selected-item-bg
  color: $white-color
  font: 500 normal 1.4rem / 1.5em $main-font
  display: inline-block
  width: 1.5em
  height: 1.5em
  text-align: center

.contacts__item-message
  font: 300 normal 1.4rem / 1em $main-font
  opacity: 50%
  display: inline-block
  width: 100%

.contacts__item-time
  font: 500 normal 1.1rem / 1em $main-font
  opacity: 50%

.contacts__item-message_unread
  font-weight: 600
  opacity: 70%

.chat
  width: 100%
  height: 100vh
  background: $chat-bg
  display: flex
  flex-direction: column
  align-items: stretch
  overflow: hidden

.chat__bar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  font: bold normal 1.4rem / 1em $main-font
  color: $chat-header-color
  height: 80px
  border-bottom: 1px solid $border-color
  box-sizing: border-box
  flex: none

.chat__bar-name
  margin-left: 30px

.chat__bar-name_typing::after
  content: ' is typing...'
  font: 300 normal 1.4rem / 1em $main-font

.chat__bar-button
  width: 80px
  height: 100%
  border: 1px solid $border-color
  border-bottom: none
  box-sizing: border-box
  background: inherit
  font-size: 20px
  color: $chat-bar-star-color

  &:hover
    color: $highlight-color

.chat__bar-button_selected
  color: $highlight-color

.chat-area
  box-shadow: inset 0 75px 75px rgb(236, 238, 242)
  flex: 1 1 auto
  box-sizing: border-box
  padding: 20px
  display: flex
  flex-direction: column-reverse
  overflow-y: auto

.chat-area__list
  display: flex
  flex-direction: column

.chat-area__item
  display: flex
  flex-direction: row
  align-items: flex-start
  margin-top: 20px
  width: 100%

.chat-area__loading
  justify-content: space-around
  align-items: center
  margin: auto

.chat-area__photo-wrapper
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 8px

.chat-area__photo
  width: 35px
  height: 35px
  border-radius: 50%

.chat-area__time
  font: 500 normal 11px / 1em $main-font
  margin-top: 10px
  color: $input-color

.chat-area__message
  position: relative
  box-sizing: border-box
  padding: 15px 20px
  //max-width: 470px
  max-width: calc(100% - 130px)
  font: 300 normal 1.6rem / 1.3em $main-font
  background: $white-color
  color: $black-color
  margin-left: 30px
  flex: none
  border-radius: 3px

  &::before
    position: absolute
    content: ''
    display: inline-block
    height: 0
    width: 0
    border-top: 5px solid transparent
    border-bottom: 5px solid transparent
    border-right: 7px solid $white-color
    left: -7px
    top: 20px

.chat-area__send
  align-self: flex-end
  flex-direction: row-reverse

  .chat-area__message
    margin: 0 30px 0 0
    background: $highlight-color
    color: $white-color
    transition: opacity 0.3s ease-in-out

    &::before
      border-right: none
      border-left: 7px solid $highlight-color
      left: auto
      right: -7px

  .chat__area-unread-message
    opacity: 0.5

.chat__message-form
  height: 80px
  border-top: 1px solid $border-color
  background: $white-color
  flex: none
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 25px

.chat__message-text
  font: 300 normal 1.6rem / 1.3em $main-font
  color: $black-color
  border: none
  outline: none
  resize: none
  //width: 460px
  width: calc(100% - 50px)
//height: 100%

.chat__message-send
  width: 40px
  height: 40px
  border-radius: 50%
  background: $send-button-bg
  color: $white-color
  font-size: 20px


.profile
  width: 100%
  height: 100vh
  overflow-y: auto
  background: $white-color


.profile__account
  height: 80px
  box-sizing: border-box
  border-bottom: 1px solid $profile-border-color
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 0 20px
  position: relative
  overflow: visible

.profile__account-notifications
  font-size: 20px
  color: $chat-bar-star-color
  background: inherit

  &:hover
    color: $highlight-color

  &::before
    content: ''
    display: inline-block
    width: 6px
    height: 6px
    border-radius: 50%
    background-color: inherit
    margin-bottom: 15px

.profile__account-notifications_exist::before
  background-color: $highlight-color

.profile__account-name
  font: 300 normal 1.4rem / 1em $main-font
  color: $profile-account-color
  background: inherit
  display: flex
  align-items: center

  &:hover
    color: $highlight-color

  &::after
    content: ''
    display: inline-block
    width: 0
    height: 0
    margin-left: 10px
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 7px solid $highlight-color

.profile__account-name_open
  &::after
    border-top: none
    border-bottom: 7px solid $highlight-color

.profile__account-pop-up
  position: absolute
  //width: 200px
  //height: 200px
  width: 75%
  border: 1px solid $chat-bar-star-color
  border-radius: 5px
  overflow: hidden
  top: 60px
  background: $white-color
  z-index: 99

.profile__account-actions
  right: 20px
  height: auto
  width: 100px

.profile__notifications
  height: 200px

.profile__notifications-list
  height: 100%
  overflow-y: scroll
  scrollbar-width: none

  &::-webkit-scrollbar
    display: none


.profile__notifications-item
  width: 100%

  &:last-of-type
    .profile__notifications-link
      border-bottom: none

.profile__notifications-link
  display: flex
  flex-direction: column
  justify-content: space-around
  height: 50px
  font: 400 normal 1.5rem / 1em $main-font
  color: $black-color
  box-sizing: border-box
  padding: 5px 20px
  border-bottom: 1px solid $input-bg

  &:hover
    background: $chat-bg

.profile__notifications-message
  font: 300 normal 1.4rem / 1em $main-font

.profile__notifications-empty
  padding: 10px 0
  width: 100%
  box-sizing: border-box
  font: 400 normal 1.4rem / 1em $main-font
  text-align: center


.profile__account-actions-link
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  height: 35px
  width: 100%
  font: 500 normal 1.4rem / 1em $main-font
  color: $black-color
  box-sizing: border-box
  background: inherit

  &:hover
    color: $highlight-color
    background: $chat-bg

.profile__loading
  height: 100%
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center

.profile__user-info
  padding: 15px 0 35px
  display: flex
  flex-direction: column
  align-items: center
  color: $profile-account-color
  position: relative
  border-bottom: 1px solid $profile-border-color

.profile__photo
  margin-top: 18px
  height: 120px
  width: 120px
  border-radius: 50%

.profile__user-name
  font: 500 normal 2rem / 1em $main-font
  margin-top: 25px

.profile__user-location
  font: 300 normal 1.4rem / 1em $main-font
  margin-top: 5px

.profile__photo-actions
  position: absolute
  right: 20px
  background: inherit
  font-size: 18px
  color: $send-button-bg

  &:hover
    color: $highlight-color

.profile__photo-actions_open
  color: $highlight-color

.profile__user-info-actions
  top: 40px
  right: 20px
  height: auto

.profile__user-details-list
  margin-top: 20px
  display: flex
  flex-direction: column
  align-items: center

.profile__user-details-item
  height: 50px
  //width: 220px
  width: 80%
  box-sizing: border-box
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid $profile-border-color
  font: 500 normal 1.3rem / 1em $main-font
  color: $profile-account-color

  &:last-child
    border-bottom: none

.profile__user-details-title
  font-weight: 500

.profile__user-details-value
  font-weight: 300

@import "assets/sass/media"
