<section class="profile__user-info">
  <img src="../../../assets/img/default-profile-photo.svg" alt="photo" width="120" height="120"
       class="profile__photo">
  <span class="profile__user-name">{{getName()}}</span>
  <span class="profile__user-location">
                {{getLocation()}}
    </span>
  <button class="profile__photo-actions" [ngClass]="isActionsOpen ? 'profile__photo-actions_open' : ''" (click)="toggleActions()">
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
  </button>
  <div class="profile__account-pop-up profile__user-info-actions" *ngIf="isActionsOpen" [@appendPopUpAnimation]>
    <ul>
      <li class="profile__notifications-item" *ngIf="!profile?.isFriend && (profile?.isSentFriend || !profile?.isPendingFriend)">
        <button class="profile__account-actions-link" (click)="addFriend()">
          Add as Friend
        </button>
      </li>
      <li class="profile__notifications-item" *ngIf="!profile?.isFriend && (profile?.isPendingFriend || profile?.isSentFriend)">
        <button class="profile__account-actions-link" (click)="declineFriend()">
          <ng-template [ngIf]="!!profile?.isSentFriend">Decline invite</ng-template>
          <ng-template [ngIf]="!!profile?.isPendingFriend">Cancel invite</ng-template>
        </button>
      </li>
      <li class="profile__notifications-item" *ngIf="!!profile?.isFriend">
        <button class="profile__account-actions-link" (click)="deleteFriend()">
          Remove from friends
        </button>
      </li>
      <li class="profile__notifications-item">
        <button class="profile__account-actions-link" (click)="toggleImportant()">
          <ng-template [ngIf]="!profile?.isImportant">Add to important</ng-template>
          <ng-template [ngIf]="profile?.isImportant">Delete from important</ng-template>
        </button>
      </li>
    </ul>
  </div>
</section>
<section class="profile__user-details">
  <ul class="profile__user-details-list">
    <li class="profile__user-details-item" *ngIf="profile?.name || profile?.surname">
      <span class="profile__user-details-title">Nickname:</span>
      <span class="profile__user-details-value">{{profileLogin}}</span>
    </li>
    <li class="profile__user-details-item" *ngIf="profile?.phoneNumber">
      <span class="profile__user-details-title">Tel:</span>
      <span class="profile__user-details-value">{{profile?.phoneNumber}}</span>
    </li>
    <li class="profile__user-details-item" *ngIf="profile?.dateOfBirth">
      <span class="profile__user-details-title">Date Of Birth:</span>
      <span class="profile__user-details-value">{{profile?.dateOfBirth | date}}</span>
    </li>
    <li class="profile__user-details-item" *ngIf="profile?.gender">
      <span class="profile__user-details-title">Gender:</span>
      <span class="profile__user-details-value">{{profile?.gender | gender}}</span>
    </li>
    <li class="profile__user-details-item" *ngIf="isLanguagesIndicated()">
      <span class="profile__user-details-title">Languages:</span>
      <span class="profile__user-details-value">{{profile?.languages?.join(', ')}}</span>
    </li>
  </ul>
</section>
