<section class="dashboard">
  <a routerLink="" class="dashboard__drop-down-menu"></a>
  <ul class="dashboard__list">
    <li>
      <a routerLink="id/{{user.login}}" routerLinkActive="dashboard__link_selected" class="dashboard__link" *ngFor="let user of users">
        <img class="dashboard__img" src="../../../assets/img/default-profile-photo.svg" width="35" height="35" alt="dashboard image">
      </a>
    </li>
    <li class="dashboard__item-add">
      <a routerLink="login" class="dashboard__add-link">
        +
      </a>
    </li>
  </ul>
</section>
