<section class="inbox">
  <header class="inbox__header">
    <h2 class="inbox__header-title">Inbox</h2>
    <button class="inbox__add-button" (click)="onButtonClick()"></button>
  </header>
  <ul class="inbox_list">
      <li class="inbox__item" *ngFor="let option of inboxOptions">
        <button class="inbox__link" [ngClass]="option.selected ? 'inbox__link_selected' : ''" (click)="changeOption(option.index)">
          <span *ngIf="isLoaded">{{option.name}}</span>
          <span *ngIf="isLoaded">{{option.count}}</span>
          <span class="skeleton skeleton-inline skeleton-inline-half" *ngIf="!isLoaded"></span>
        </button>
      </li>
  </ul>
</section>
