<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 class="login-form__header">Login</h2>
  <input type="text" autocomplete="username" name="login" placeholder="Login" class="login-form__input" formControlName="login" >
  <input type="password" autocomplete="current-password" name="password" placeholder="Password" class="login-form__input" formControlName="password">
  <input type="submit" name="submit" value="Log in" class="login-form__button" [disabled]="!loginForm.valid">
  <div class="login-form__register">
    <span>Don't have an account?</span>
    <a routerLink="/register">Sign up</a>
  </div>
</form>
