<section class="inbox friends">
  <header class="inbox__header inbox__friends-header">
    <form class="inbox__search-form inbox__friends-form" [formGroup]="searchForm" (ngSubmit)="search(query.value)">
      <input type="text" class="inbox__friends-input" placeholder="Search" formControlName="query" #query>
      <button type="submit" class="inbox__friends-search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button type="button" class="inbox__friends-close" (click)="onButtonClick()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </form>
  </header>
  <div class="search__results">
    <h2 class="search__header">Search Results</h2>
    <ul class="search__list">
      <li class="search__item" *ngFor="let res of searchResults">
        <div class="search__item-info">
          <img src="../../../assets/img/default-profile-photo.svg" width="35" height="35" alt="photo">
          <span class="search__item-name">{{res}}</span>
        </div>
        <button *ngIf="isAddButtonVisible(res)" class="search__item-add" (click)="addFriend(res)">+</button>
      </li>
    </ul>
  </div>
  <div class="friends__invites">
    <h2>
      <button class="friends__invites-button" (click)="toggleReceivedList()">
        <span>Received Invites <strong>{{receivedInvites.length}}</strong></span>
        <span class="friends__invites-extend">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
      </button>
    </h2>
    <ul [ngClass]="isOpenReceivedInvites ? 'friends__invites-list_visible' : ''" class="search__list friends__invites-list">
      <li class="search__item" *ngFor="let invite of receivedInvites">
        <div class="search__item-info">
          <img src="../../../assets/img/default-profile-photo.svg" width="35" height="35" alt="photo">
          <span class="search__item-name">{{invite}}</span>
        </div>
        <div>
          <button type="button" class="search__item-add friends__invites-action" (click)="addFriend((invite))">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
          <button type="button" class="search__item-add friends__invites-action" (click)="declineFriend(invite)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="friends__invites">
    <h2>
      <button class="friends__invites-button" (click)="togglePendingList()">
        <span>Pending Invites <strong>{{pendingInvites.length}}</strong></span>
        <span class="friends__invites-extend">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
      </button>
    </h2>
    <ul [ngClass]="isOpenPendingInvites ? 'friends__invites-list_visible' : ''" class="search__list friends__invites-list">
      <li class="search__item" *ngFor="let invite of pendingInvites">
        <div class="search__item-info">
          <img src="../../../assets/img/default-profile-photo.svg" width="35" height="35" alt="photo">
          <span class="search__item-name">{{invite}}</span>
        </div>
        <div>
          <button type="button" class="search__item-add friends__invites-action" (click)="declineFriend(invite)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
