<section class="profile__account">
  <button class="profile__account-notifications"
          [ngClass]="!!notifications.length ? 'profile__account-notifications_exist' : ''"
          (click)="toggleNotifications()">
    <i class="fa fa-bell" aria-hidden="true"></i>
  </button>
  <div class="profile__account-pop-up profile__notifications" [@appendNotificationsAnimation] *ngIf="isNotificationsOpen">
    <ul class="profile__notifications-list">
      <li class="profile__notifications-item" *ngFor="let notification of notifications">
        <a class="profile__notifications-link" routerLink="chat/{{notification.chatId}}">
          <span>{{notification.message?.owner}}</span>
          <span class="profile__notifications-message">{{notification.message?.message | textSlice:22}}</span>
        </a>
      </li>
      <li *ngIf="!notifications.length" class="profile__notifications-empty">
        You have no notifications
      </li>
    </ul>
  </div>
  <button class="profile__account-name" [ngClass]="isActionsOpen ? 'profile__account-name_open' : ''"
          (click)="toggleActions()">{{user?.login}}</button>
  <div class="profile__account-pop-up profile__account-actions" *ngIf="isActionsOpen" [@appendPopUpAnimation]>
    <ul>
      <li class="profile__notifications-item">
        <button class="profile__account-actions-link" (click)="logOut()">
          Log Out
        </button>
      </li>
    </ul>
  </div>
</section>
